<div class='container d-flex flex-column align-items-center'>
  <h2 class='my-5'>Signup</h2>
  <div class='card w-25 p-3'>
    <form
      action='/signup'
      method='POST'
      class='d-flex flex-column align-items-center'
    >
      <div class='mb-3'>
        <label
          for='exampleFormControlInput1'
          class='form-label'
        >Username</label>
        <input
          type='text'
          name='username'
          class='form-control'
          id='exampleFormControlInput1'
          placeholder='ironhacker'
        />
      </div>
      <div class='mb-3'>
        <label for='exampleFormControlInput1' class='form-label'>Email address</label>
        <input
          type='email'
          name='email'
          class='form-control'
          id='exampleFormControlInput1'
          placeholder='rockstar@ironhack.com'
        />
      </div>
      <div class='mb-3'>
        <label
          for='exampleFormControlInput1'
          class='form-label'
        >Password</label>
        <input
          type='password'
          name='password'
          class='form-control'
          id='exampleFormControlInput1'
          placeholder='********'
        />
      </div>
      <button type='submit' class='btn btn-primary mb-3'>
        Create account
      </button>
      {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>