
<h1>{{title}} </h1>
<h2>{{subtitle}} </h2>
<p></p>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Colored id</h1>
        <h2class="lead text-muted"> Check out this incredible palete color, you can copy it for you want with its hexadecimal or rgb number, you can register for free and save your colors in your personal place, or check out the free combinations we present for you </h2>
        <p>
          <a href="./auth/login.hbs" class="btn btn-primary my-2">Log in</a>
          <a href="./auth/signup.hbs" class="btn btn-secondary my-2">Sign up</a>
        </p>
      </div>
    </div>
  </section>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{hex}}</h5>
    <a href="#" class="btn btn-primary">Add to favorites</a>
  </div>
</div>